<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="This web application is a marvel medical assistant. It leverages the power of ChatGPT to perform accurate, updated and fast diagnoses." />
    <meta name="author" content="Nikos Papageorgiou" />
    <title>Sign in</title>

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Link CSS file -->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <style>
        .error {color:red}
    </style>
</head>
<body id="bg-login">

<section layout:fragment="content">

    <div class="container" >
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Εγγραφή</h5>
                        <form th:action="@{/signup}" th:method="POST" th:object="${doctor}">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="fullName" placeholder="Username" th:field="*{fullName}">
                                <label for="fullName" >Όνομα Χρήστη</label>
                                <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="error"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="licenseNumber" placeholder="License Number" th:field="*{licenseNumber}">
                                <label for="licenseNumber" >Αριθμός Άδειας</label>
                                <span th:if="${#fields.hasErrors('licenseNumber')}" th:errors="*{licenseNumber}" class="error"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="apiKey" placeholder="Api Key" th:field="*{apiKey}">
                                <label for="apiKey">Api Key</label>
                                <span th:if="${#fields.hasErrors('apiKey')}" th:errors="*{apiKey}" class="error"></span>

                            </div>


                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" th:field="*{email}">
                                <label for="floatingInput" >Email address</label>
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>

                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" th:field="*{password}">
                                <label for="floatingPassword" >Κωδικός Πρόσβασης</label>
                                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span>

                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPasswordConfirm" placeholder="Confirmation Password">
                                <label for="floatingPasswordConfirm">Επιβεβαίωση Κωδικού</label>
                                <span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="error"></span>
                            </div>


                            <div class="d-grid">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Εγγραφή</button>
                            </div>

                            <div th:if="${error}" th:text="${error}" class="error"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
